@font-face
    {   font-family: 'TmonMonsori';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
        font-weight: normal;
        font-style: normal;   }

@font-face
    {   font-family: 'MaruBuri-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;   }


html,body,p,h1,h2,h3
    {   margin: 0;
        padding: 0;
        /* background-color: black; */
        /* color: white;    */ 
    }

ul  {   
        list-style: none;
        margin: 0;
        padding: 0;   
    }

a   {   
        color: black;
        display: block;
        text-decoration: none;
    }



#header_flex-container
    {   
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        position: fixed;
        width: 100%;
        padding: 20px 0px 20px 0px;
        background-color: white;
        border-bottom: 1px solid #eee;   
    }

.header_flex-item
    {   flex: 0 1 auto;   }

#header_flex-container h1
    {   margin-left: 15px;
        font-family: 'TmonMonsori';
        
        
        /* font-family: 'MaruBuri-Regular'; */
        /* font-family: 'EarlyFontDiary'; */
        /* font-family: 'EliceDigitalBaeum_Bold'; */
    }

/* #header_flex-container p
    {
        border-right: 3px solid black;
        margin-right: 100px;
        width: 100px;
    } */

#header-lists
    {   display: inline;   }

#header-lists li
    {   
        display: inline-block;
        padding-right: 50px;
    }