* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

#close {
    float: right;
}

#log_in-container {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 600px;
    border: 1px solid #dfdfdf;
    background-color: white;
}

.main_flex-container {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0px 40px 10px 40px;
    font-size: 13px;
}

.main_flex-item {
    flex: 1 1 auto;
    width: 100%;
    padding-bottom: 22px;
}

.main_flex-item label {
    text-align: center;
}

.main_flex-item button {
    font-size: 18px;
}

#ID,#password,#enter {
    border: 1px solid #dfdfdf;
    width: 100%;
    height: 56px;
    padding: 13px;
}

#enter {
    transition: all .3s ease;
    font-size: 18px;
    font-weight: 500;
}

#enter:hover {
    background-color: lightgray;
    cursor: pointer;
}

.supplement_flex-container {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0px 40px 0px 40px;
    
}

.supplement_flex-item a {
    flex: 1 1 auto;
}