
#main_grid-container {
    grid-column: 2/3;
    grid-row: 2/3;
}

#qwer {
    display: flex;
    flex-direction: column;
}

#qwe {
    background-color: #eee;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
}

#qwer:first-child {
    margin-top: 30px;
} 

#text {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 20px;
    
    white-space: pre-line;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

#image {
    width: 30%;
    height: 100%;
    border-top-right-radius: 7.5px 7.5px;
    border-bottom-right-radius: 7.5px 7.5px;
}
