@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MaruBuri-Regular';
    background-color: #dfdfdf;
}

h1 {
    text-align: center;
    padding: 40px 0px 40px 0px;
    font-size: 22px;
    border-bottom: 1px solid #9e9e9e;
}

input {
    border: 1px solid #dfdfdf;
    padding: 13px;
    width: 100%;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

#sign_up-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 700px;
    background-color: white;
    padding: 0px 40px 0px 40px;
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding-top: 40px;
}

.flex-item {
    flex: 1;
    padding-bottom: 22px;
}

.flex-item button {
    width: 100%;
    height: 50px;
    border: 1px solid #dfdfdf;
}

label {
    display: block;
    padding-bottom: 10px;
    color: #9e9e9e;
}

.sign_up-validation {
    color: red;
    font-size: 11px;
    line-height: 16.5px;
    margin: 5px 0px 0px 0px;
}